@model UserViewModel
@{
    int count = 0;
}
<form asp-area="cp" asp-controller="usermanager" asp-action="update" method="post">
    <div class="form-floating mb-3">
        <input type="hidden" name="Email" value="@Model.Email">
        <input asp-for="@Model.Email" disabled class="form-control" autocomplete="username" aria-required="true"
            placeholder="name@example.com" />
        <label asp-for="@Model.Email">Email</label>
        <span asp-validation-for="@Model.Email" class="text-danger"></span>
    </div>
    <div class="form-floating mb-3">
        <input asp-for="@Model.PhoneNumber" class="form-control" autocomplete="username" aria-required="true"
            placeholder="name@example.com" />
        <label asp-for="@Model.PhoneNumber">Phone Number</label>
    </div>



    @for (int i = 0; i < Model.Roles.Count; i++)
    {
        <div class="form-check">
            <input asp-for="@Model.Roles[i].Name" type="hidden">
            <input asp-for="@Model.Roles[i].Value" type="hidden">
            <input asp-for="@Model.Roles[i].Selected">
            <label class="form-check-label" for="flexCheckDefault">
                @Model.Roles[i].Name 
                </label>
        </div>
    }
</form>